* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: #f6f6f4;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
nav .container .nav_wrapper {
  display: flex;
}
nav .container .nav_wrapper .nav_left {
  width: 35%;
  display: flex;
  align-items: center;
}
nav .container .nav_wrapper .nav_left ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .container .nav_wrapper .nav_left ul li {
  position: relative;
}
nav .container .nav_wrapper .nav_left ul li a {
  font-size: 23px;
  font-weight: 300;
  font-family: system-ui;
  color: #000000;
  position: relative;
}
nav .container .nav_wrapper .nav_left ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: left bottom;
}
nav .container .nav_wrapper .nav_left ul li a:hover::after {
  transform: scaleX(1);
}
nav .container .nav_wrapper .nav_left ul li:hover .drop-down-menu {
  opacity: 1;
  visibility: visible;
}
nav .container .nav_wrapper .nav_left ul li .drop-down-menu {
  top: 100%;
  left: 0;
  position: absolute;
  transform: translateY(20%);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.5s;
}
nav .container .nav_wrapper .nav_left ul li .drop-down-menu ul {
  display: flex;
  justify-content: space-around;
}
nav .container .nav_wrapper .nav_left ul li .drop-down-menu ul li {
  margin-right: 30px;
}
nav .container .nav_wrapper .nav_logo {
  width: 30%;
  text-align: center;
  padding: 10px 0;
}
nav .container .nav_wrapper .nav_logo img {
  width: 30%;
}
nav .container .nav_wrapper .nav_right {
  width: 35%;
  display: flex;
  align-items: center;
}
nav .container .nav_wrapper .nav_right ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .container .nav_wrapper .nav_right ul li a {
  font-size: 23px;
  font-weight: 300;
  font-family: system-ui;
  color: #000000;
  position: relative;
}
nav .container .nav_wrapper .nav_right ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: left bottom;
}
nav .container .nav_wrapper .nav_right ul li a:hover::after {
  transform: scaleX(1);
}

#banner {
  position: relative;
}
#banner .container .banner_wrapper {
  background: url("https://cdn.shopify.com/s/files/1/0110/8587/3210/files/aleph-beauty-519-mcu-1400_2560x.jpg?v=1660530854");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 350px;
  padding-bottom: 100px;
  margin: 0 auto;
}
#banner .container .banner_wrapper .banner_Content {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}
#banner .container .banner_wrapper .banner_Content .buttonDesign {
  display: inline-block;
  background-color: #E2DCD2;
  color: #fff;
  font-size: 14px;
  padding: 15px 27px;
  font-weight: 400;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: transparent;
  transition: all 0.5s ease;
}
#banner .container .banner_wrapper .banner_Content .buttonDesign:hover {
  background-color: #000;
  color: #fff;
}

#Alpha {
  margin-top: 20px;
}
#Alpha .container .Apha_wrapper {
  display: flex;
}
#Alpha .container .Apha_wrapper .alpha_item {
  width: 50%;
  flex: 0 1 auto;
  overflow: hidden;
}
#Alpha .container .Apha_wrapper .alpha_left img {
  width: 100%;
  display: block;
}
#Alpha .container .Apha_wrapper .alpha_right {
  background-color: #efece6;
  padding: 103px 0 103px;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin {
  width: 70%;
  margin: 0 auto;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin p {
  font-family: system-ui;
  font-size: 36px;
  font-weight: 400;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin h5 {
  font-family: system-ui;
  font-size: 36px;
  font-weight: 400;
  text-align: end;
  margin-top: 30px;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin .span_design {
  margin-top: 30px;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin .list_item ul {
  display: flex;
  justify-content: space-between;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin .list_item ul li p {
  margin-top: 20px;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin button {
  margin-top: 30px;
  display: inline-block;
  background-color: #e2dcd2;
  color: #fff;
  font-size: 14px;
  padding: 15px 27px;
  font-weight: 400;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: transparent;
  transition: all 0.5s ease;
}
#Alpha .container .Apha_wrapper .alpha_right .alpha_desgin button:hover {
  background-color: #000;
  color: #fff;
}

#findPerfectShade {
  padding: 119px 0 121px;
}
#findPerfectShade .container .findOnepart {
  background-color: antiquewhite;
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
#findPerfectShade .container .findOnepart img {
  width: 100%;
}
#findPerfectShade .container .findtwopart {
  display: flex;
  align-items: center;
  text-align: center;
}
#findPerfectShade .container .findtwopart .findtwopartfirstpart {
  width: 20%;
}
#findPerfectShade .container .findtwopart .findtwopartfirstpart .imgOne {
  width: 100px;
  height: 150px;
  overflow: hidden;
}
#findPerfectShade .container .findtwopart .findtwopartfirstpart .imgOne img {
  width: 100%;
}
#findPerfectShade .container .findtwopart .findtwopartmiddlepart {
  width: 50%;
}
#findPerfectShade .container .findtwopart .findtwopartmiddlepart h4 {
  font-family: system-ui;
  font-size: 47px;
  font-weight: 300;
  margin-bottom: 20px;
}
#findPerfectShade .container .findtwopart .findtwopartmiddlepart p {
  font-family: system-ui;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
}
#findPerfectShade .container .findtwopart .findtwopartmiddlepart button {
  display: inline-block;
  background-color: #E2DCD2;
  color: #fff;
  font-size: 14px;
  padding: 15px 27px;
  font-weight: 400;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: transparent;
  transition: all 0.5s ease;
}
#findPerfectShade .container .findtwopart .findtwopartmiddlepart button:hover {
  background-color: #000;
  color: #fff;
}
#findPerfectShade .container .findtwopart .findtwopartsecondpart {
  width: 30%;
}
#findPerfectShade .container .findtwopart .findtwopartsecondpart .imgtwo {
  width: 300px;
  height: 350px;
  overflow: hidden;
  margin-left: auto;
}
#findPerfectShade .container .findtwopart .findtwopartsecondpart .imgtwo img {
  width: 100%;
}
#findPerfectShade .container .findthreepart {
  display: flex;
}
#findPerfectShade .container .findthreepart .itemOne {
  width: 50%;
}
#findPerfectShade .container .findthreepart .itemOne .one {
  width: 280px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}
#findPerfectShade .container .findthreepart .itemOne .one img {
  width: 100%;
}
#findPerfectShade .container .findthreepart .itemtwo {
  width: 50%;
}
#findPerfectShade .container .findthreepart .itemtwo .two {
  width: 150px;
  height: 180px;
  overflow: hidden;
  margin-right: auto;
}
#findPerfectShade .container .findthreepart .itemtwo .two img {
  width: 100%;
}

#brands-testimonial {
  background-color: #e4e1dc;
  padding: 137px 0 150px;
  text-align: center;
}
#brands-testimonial .bands-talk {
  width: 60%;
  margin: 0 auto;
}
#brands-testimonial .bands-talk p {
  font-family: system-ui;
  font-size: 36px;
  font-weight: 300;
}

#Featured-box {
  padding-bottom: 20px;
  padding-top: 75px;
}
#Featured-box .container .Featuredtop_Content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left {
  width: 50%;
  display: flex;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left h3 {
  font-family: system-ui;
  font-size: 30px;
  font-weight: 300;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left span {
  line-height: 45px;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left span a {
  font-size: 16px;
  font-weight: 300;
  font-family: system-ui;
  color: #000000;
  position: relative;
  margin-right: 30px;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left span a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: left bottom;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left span a:hover::after {
  transform: scaleX(1);
}
#Featured-box .container .Featuredtop_Content .Featured_Content_left span a:first-child {
  margin-left: 20px;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_right {
  width: 30%;
  text-align: right;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_right button {
  display: inline-block;
  background-color: #E2DCD2;
  color: #fff;
  font-size: 14px;
  padding: 15px 27px;
  font-weight: 400;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: transparent;
  transition: all 0.5s ease;
}
#Featured-box .container .Featuredtop_Content .Featured_Content_right button:hover {
  background-color: #000;
  color: #fff;
}
#Featured-box .container .FeatureDisplay {
  display: flex;
  justify-content: space-between;
}
#Featured-box .container .FeatureDisplay .Featureslider {
  width: 33%;
  max-height: 580px;
  padding: 25px 30px;
  background-color: #E2DCD2;
  transition-delay: 3s;
}
#Featured-box .container .FeatureDisplay .Featureslider img {
  width: 100%;
}
#Featured-box .container .FeatureDisplay .Featureslider .hover_context {
  display: none;
}
#Featured-box .container .FeatureDisplay .Featureslider:hover {
  background: url("https://cdn.shopify.com/s/files/1/0110/8587/3210/files/3.0_3435fef5-e084-4c79-8989-21cba4476cef.jpg?v=1666336086");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#Featured-box .container .FeatureDisplay .Featureslider:hover img,
#Featured-box .container .FeatureDisplay .Featureslider:hover .slider_context {
  display: none;
}
#Featured-box .container .FeatureDisplay .Featureslider:hover .hover_context {
  display: block;
}
#Featured-box .container .FeatureDisplay .Featureslider:hover .hover_context button {
  display: inline-block;
  background-color: #E2DCD2;
  color: #fff;
  font-size: 14px;
  padding: 15px 27px;
  font-weight: 400;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: transparent;
  transition: all 0.5s ease;
}
#Featured-box .container .FeatureDisplay .Featureslider:hover .hover_context button:hover {
  background-color: #000;
  color: #fff;
}

#last-part {
  background-color: #E2DCD2;
  padding-top: 100px;
  padding-bottom: 100px;
}
#last-part .container .last_wrapeer {
  display: flex;
}
#last-part .container .last_wrapeer .wrapper_left {
  width: 50%;
}
#last-part .container .last_wrapeer .wrapper_left p {
  font-family: system-ui;
  font-size: 36px;
  font-weight: 300;
}
#last-part .container .last_wrapeer .wrapper_left .emaildesgin {
  font-family: system-ui;
  font-size: 25px;
  font-weight: 300;
  margin-top: 20px;
  position: relative;
}
#last-part .container .last_wrapeer .wrapper_left .emaildesgin::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #000000;
  bottom: -33px;
  left: 0;
}
#last-part .container .last_wrapeer .wrapper_left .emaildesgin button {
  position: absolute;
  top: 17px;
  right: 0;
  display: inline-block;
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  padding: 15px 27px;
  font-weight: 400;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: transparent;
  transition: all 0.5s ease;
}
#last-part .container .last_wrapeer .wrapper_left .emaildesgin button:hover {
  background-color: #000;
  color: #fff;
}
#last-part .container .last_wrapeer .wrapper_right {
  width: 50%;
  padding: 10px 60px;
}
#last-part .container .last_wrapeer .wrapper_right ul li {
  margin-top: 30px;
}
#last-part .container .last_wrapeer .wrapper_right ul li a {
  color: #000000;
}/*# sourceMappingURL=main.css.map */